<nav class="navbar navbar-default">
    <div class="container-fluid" ng-controller="NavCtrl">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Wanderus</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-hide="isLoggedIn()"><a href="/">Home</a></li>
            <!--<li ng-show="isLoggedIn()"><a href="userHome">User's Home</a></li>-->
            <li ng-show="isLoggedIn()"><a href="profile">Profile</a></li>
            <!--<li ng-show="isLoggedIn()"><a href="search">Search</a></li>-->
            <li ng-show="isLoggedIn()"><a href="searchPart2">Search - NEW</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--<li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>-->

      		<li ng-hide="isLoggedIn()"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li ng-hide="isLoggedIn()"><a href=/login><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li ng-show="isLoggedIn()"><a href="/" ng-click="logOut()">Logout</a></li>
    	</ul>
    </div>
</nav>
