<!DOCTYPE html>
<html ng-app="profile">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>




    <body>


        <div ng-include src="'/header/header.ejs'"></div>

            <div class="container" ng-controller="ProfileCtrl">
                <h1>Profile</h1>

                <h2>Name: Marcus Yoder</h2>

                <h2>Alma Mater: NYU</h2>

                <h2>DOB: 3/21/1992</h2>

                <h2>Interests: Building circuits, working with tech, and beer tasting</h2>

                <h2>Saved Parks: </h2>

                <div ng-repeat="park in parks">
                    <ul>
                        <b>{{park.parkName}} - {{park.parkType}}</b>
                    </ul>

            </div>
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
            <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>-->
            <script src="/javascripts/profile.js"></script>

    </body>
</html>
