<h2>Search Functionality</h2>
<form>
    <div class="error" ng-show="error1">You must enter text into the fields to get results!</div>
    <div class="error" ng-show="error2">We currently support only Washington, DC and will be adding more cities to Wander soon!</div>
    <div class="form-group">
        <label>Placename</label>
        <input type="text" class="form-control" id="searchTerm" placeholder="Search..." ng-model="place">
    </div>
    <div class="form-group">
        <label>State, City, Zipcode</label>
        <input type="text" class="form-control" id="state" placeholder="Search..." ng-model="state">
    </div>


    <button type="submit" class="btn btn-default" ng-click="getData()">Go</button>
</form>
<div id="result">
    <div ng-show="resultsCount">
        Your query yielded {{resultsCount}} results.
    </div>
    <div ng-repeat="result in queryResult">
        <div class="panel panel-default">
            <div class="panel-body">
                {{result.name}}
            </div>
            <div class="panel-footer">State: {{result.adminName1}}</div>
            <div class="panel-footer">fclName: {{result.fclName}}</div>
            <button type="button" class="btn btn-primary" ng-click="goToResult(result)">Go To Result</button>

        </div>
    </div>

</div>
<div ng-controller="MyController" class="my-controller" ng-show="resultsCount">
  <h1>Sample Paginated Menu</h1>

  <small>this is in "MyController"</small>


  <div class="row">
    <div class="col-xs-4">
      <h3>Search Page: {{ currentPage }}</h3>
    </div>
    <div class="col-xs-4">
      <label for="search">Search:</label>
      <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
      <label for="search">items per page:</label>
      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-body">

      <ul>
        <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>

      </ul>
    </div>
  </div>
</div>

<div ng-controller="OtherController" class="other-controller" ng-show="resultsCount">
  <small>this is in "OtherController"</small>
  <div class="text-center">
  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" <%- include dirPagination.tpl.html %></dir-pagination-controls>
  <!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>-->
  </div>
</div>

<div id="map"></div>
